<ul class="nav navbar-nav navbar-left">
  <li><%= link_to t('.all_blocks'), blocks_path %></li>
  <li><%= link_to t('.all_cards'), cards_path %></li>
  <li><%= link_to t('.all_users'), users_path %></li>
</ul>
<p class="navbar-text navbar-right">
    <%= link_to 'Панель управления', rails_admin_path,
                class: 'navbar-link' %> |
    <%= link_to t('.log_out'), :logout, method: :delete,
                class: 'navbar-link' %>
</p>
