<ul class="nav navbar-nav navbar-left">
  <li><%= link_to t(:all_decks_label), blocks_path %></li>
  <li><%= link_to t(:all_cards_label), cards_path %></li>
  <li><%= link_to t(:all_users_label), users_path %></li>
</ul>
<p class="navbar-text navbar-right">
    <%= link_to 'Панель управления', rails_admin_path,
                class: 'navbar-link' %> |
    <%= link_to t(:log_out_label), :logout, method: :delete,
                class: 'navbar-link' %>
</p>
