<div class="row" id="header">
  <div class="col-sm-12">
    <nav class="navbar navbar-default" id="header">
      <div class="container-fluid">
        <div class="navbar-header">
          <% if current_user %>
            <%= link_to t(:flashcards_label), trainer_path, class: "navbar-brand" %>
          <% else %>
            <%= link_to t(:flashcards_label), root_path, class: "navbar-brand" %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <% if current_user %>
            <% if current_user.has_role? :admin %>
              <%= render 'shared/admin_header' %>
            <% else  %>
              <%= render 'shared/user_header' %>
            <% end %>
          <% else %>
            <p class="navbar-text navbar-right">
              <%= link_to t(:sing_up_label), new_user_path,
                          class: 'navbar-link' %> |
              <%= link_to t(:log_in_with_github_label),
                          auth_at_provider_path(provider: :github),
                          class: 'navbar-link' %> |
              <%= link_to t(:log_in_label), :login, class: 'navbar-link' %> |
              <% I18n.available_locales.each do |locale| %>
                <%=link_to locale, root_path(user_locale: locale),
                           class: 'navbar-link' %>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </nav>
  </div>
</div>