<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th><%= t('.original') %></th>
    <th><%= t('.translate') %></th>
    <th><%= t('.review') %></th>
    <th colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <% @cards.each do |card| %>
    <tr class="table table-hover table-condensed">
      <td><%= card.original_text %></td>
      <td><%= card.translated_text %></td>
      <td><%= card.review_date.strftime('%d.%m.%Y %H:%M:%S') %></td>
      <% if policy(card).owner? %>
        <td><%= link_to t('.edit'), edit_card_path(card) %></td>
        <td><%= link_to t('.remove'), card, method: :delete,
                        data: { confirm: "#{t('.remove_records')}?" } %></td>
      <% end %> 
    </tr>
  <% end %>
  </tbody>
</table>